@media (max-width: 768px) {
    body {
        display: none;
    }
}

@font-face {
    font-family: 'Montserrat';
    src: url('../media/font/Montserrat-Black.ttf');
}

html, body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    color: white;
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
}

p:hover {
    color: #ff6ec4;
    transform: scale(1.1);
    text-shadow: 0 0 5px #ff6ec4, 0 0 10px #ff6ec4, 0 0 15px #ff6ec4;
}

a {
    text-decoration: none;
    color: inherit;
}

@keyframes glow {
    from {
        text-shadow: 0 0 2px #ff6ec4, 0 0 4px #ff6ec4, 0 0 6px #7873f5;
    }
    to {
        text-shadow: 0 0 4px #ff6ec4, 0 0 6px #ff6ec4, 0 0 8px #7873f5;
    }
}