@font-face {
    font-family: 'Bagel';
    src: url('../media/font/DFVN-Bagel-Fat-One.otf');
}

@font-face {
    font-family: 'Beau';
    src: url('../media/font/BT-BeauSans-Regular.ttf');
}
html, body {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.starter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.starter h1 {
    font-family: 'Bagel';
    font-weight: 400;
    font-size: 10vw;
    color: rgb(0, 0, 0);
    margin: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
    transform: translateY(0);
}

.starter h1.hidden {
    opacity: 0;
    transform: translateY(-10px);
}

.starter p {
    font-family: Beau;
    font-size: 2vw;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
    transform: translateY(0);
}

.starter p.hidden {
    opacity: 0;
    transform: translateY(-10px);
}

#video-container {
    position: relative;
    width: 100%;
    height: 100%; 
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
}

#video-container .blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.00001); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    z-index: -1; 
}

#background-video, .starter {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#background-video.show, .starter.show {
    opacity: 1;
}

.starter.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute; 
    top: 50%; 
    left: 50%;  
    transform: translate(-50%, -55%);  
    z-index: 5;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.container.show {
    opacity: 1;
}

.icon {
    font-size: 15vw;
    padding-left: 5%;
}

.context {
    width: 50%;
}

.context h1{
    font-family: "Bagel";
    font-weight: 500;
    font-size: 7vw;
    margin-bottom: 5%;
}

.context p {
    font-family: "Beau";
    font-weight: 400;
    font-size: 1.2vw;
    text-align: right;
}

.navigation.hidden {
    display: none;
}

.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 6;
}

.navigation button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 2vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.navigation button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.container.show + .navigation button {
    opacity: 1;
}
